/*
www.devsaran.com
*/

@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);


/* Reset
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* Body & Main
================================================== */
body {
  nowhitespace: afterproperty;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font: 14px/1.6 'Oxygen',sans-serif;
  color: #606060;
}

/* Links */
a {
  /*color: #f4473a;*/
  color: #4584A3;
}
a:visited {
  /*color: #f4473a;*/
  color: #4584A3;
}
a:hover,
a:focus,
a:active {
  /*color:#000;*/
  text-decoration: none;
}

/*set max img width*/
img {
  /*max-width: 100%;*/
}


/* Commons
================================================== */

/*clear floats*/
.remove-margin {
  margin-right: 0 !important;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/*blockquote*/
blockquote {
  position: relative;
  margin: 30px 20px;
  padding-left: 25px;
  font-style: italic;
  font-weight: bold;
  color: #000;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #000;
  content: open-quote;
  font-size: 3em;
  line-height: .1em;
  position: absolute;
  top: 20px;
  left: -10px;
}

blockquote p:last-child {
  margin: 0;
}


/*preformatted text*/
pre {
  background: #fff url("images/pre-bg.png") repeat;
  margin: 40px 0px;
  padding: 25px 20px;
  line-height: 25px;
  border: 1px solid #ddd;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

ul, ol {
  margin: 0 0 1em 1.5em;
}
ul {
  list-style: disc;
}
ol {
  list-style-type: decimal;
}
ol ol {
  list-style: upper-alpha;
}
ol ol ol {
  list-style: lower-roman;
}
ol ol ol ol {
  list-style: lower-alpha;
}
ul ul, ol ol, ul ol, ol ul {
  margin-bottom: 0;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}
th {
  font-weight: bold;
  padding:10px 10px;
}

tr{
  padding:5px 5px;
}

td{
  padding:5px 10px;
}

#primary table {
  margin: 0 0 1.5em;
  width: 100%;
  border:1px solid #ddd;
  border-right:none;
  background:#fff;
}

#primary th {
  font-weight: bold;
  padding:10px 10px;
  background:#555;
  color:#fff;
}

#primary tr{
  padding:5px 5px;
}

#primary td{
  padding:5px 10px;
  border-top:1px solid #ddd;
  border-right:1px solid #ddd;
}

/* Typography
================================================== */

/* Headings */
h1,h2,h3,h4,h5,h6 {
  clear: both;
}

h1 { font-size: 32px; }
h2 { font-size: 26px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

p {
  margin: 0 0 20px;
}

p img {
  margin: 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

small {
  font-size: 80%;
}

hr {
  border: solid rgba(0, 0, 0, 0.2);
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

p a, p a:visited {
  line-height: inherit;
}

a:link {
  text-decoration: none;
}

a:focus {
  outline: 0;
}

a {
  outline: 0;
}

p a, p a:visited {
  line-height: inherit;
}

a:focus {
  outline: 0;
}


/* Head */

#masthead{
  position: relative;
}
.site-branding{
  /*margin-bottom: 20px;*/
}

#site-logo {
    float: left;
    padding: 15px 15px 0 0;
}

h1#site-title{
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 18px;
  clear: none;
}
h1#site-title a:link, h1#site-title a:visited{
  color: #000;
}

/* Menu */

.menutoggle{
  width: 36px;
  height: 36px;
  color: #777;
  border: 1px solid #ddd;
  border-radius: 3px;
  line-height: 36px;
  text-align: center;
  background: #fff;
  position: absolute;
  right: 20px;
  top:25px;
  font-size: 20px;
  display:none;
}

#main-menu {
  padding:0px 0px;
  margin: 22px 0px 15px;
  height:45px;
  border-bottom: none;
  float: left;
  font-size: 16px;
}
  
#main-menu ul {
  width: auto;
  float:left;
  list-style: none;
  margin: 0;
  padding: 0 0px;
}
  
#main-menu li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight:400;
}
  
#main-menu li a {
  color: #777;
  display: block;
  margin: 0;
  padding: 19px 10px 19px 10px;
  text-decoration: none;
  position: relative;
}

#main-menu li a:hover, #main-menu li a:active, #main-menu a.active, #main-menu > ul > li > a.active-trail {
  color: #ed564b;
  color: #4584A3;
}
  
#main-menu li a.sf-with-ul {
  padding-right: 10px;
} 

#main-menu li ul li a, #main-menu li ul li a:link, #main-menu li ul li a:visited,
#main-menu li ul li ul li a, #main-menu li ul li ul li a:link, #main-menu li ul li ul li a:visited,
#main-menu li ul li ul li ul li a, #main-menu li ul li ul li ul li a:link, #main-menu li ul li ul li ul li a:visited {
  color:#777;
  width: 148px; 
  margin: 0;
  padding: 10px 10px;
  border-top:1px solid #ddd;
  position: relative;
  font-weight:400;
}
  
#main-menu ul li ul li:first-child a,#main-menu ul li ul li ul li:first-child a,#main-menu ul li ul li ul li ul li:first-child a  {
  border-top:none;
}

  
#main-menu li ul li a:hover ,#main-menu li ul li ul li a:hover ,#main-menu li ul li ul li ul li a:hover {
  color: #ed564b;
}

#main-menu li ul {
  font-size: 12px;
  z-index: 9999;
  position: absolute;
  left: -999em;
  height: auto;
  width: 160px;
  margin: 0px 0px 0px 0px;
  padding: 5px 5px;
  background:#efefef;
}

#main-menu li ul a { 
  width: 150px;
}

#main-menu li ul a:hover, #main-menu li ul a:active { 
}

#main-menu li ul ul {
  margin: -44px 0 0 160px;
}

#main-menu li:hover ul ul, #main-menu li:hover ul ul ul, #main-menu li.sfHover ul ul, #main-menu li.sfHover ul ul ul {
  left: -999em;
}

#main-menu li:hover ul, #main-menu li li:hover ul, #main-menu li li li:hover ul, #main-menu li.sfHover ul, #main-menu li li.sfHover ul, #main-menu li li li.sfHover ul {
  left: auto;
}

#main-menu li:hover, #main-menu li.sfHover { 
  position: static;
}

#main-menu > ul > li > a {
  padding : 10px;
}

/* Layout */

#primary, #sidebar{
  padding-top: 203px;
  padding-bottom: 20px;
}

#main-content {
  padding-top: 0;
}

/* Slider */

#slidebox{
  max-height: 550px;
  position: relative;
  background: #000;
}

.doverlay{
  background: url(images/overlay.png);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top:0px;
  z-index: 100;
}

img.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
  
.flex-caption{
  width: 800px;
  position: absolute;
  top:28%;
  left: 50%;
  margin-left: -400px;
  text-align: center;
  z-index: 120;
  color: #fff;
} 
  
.flex-caption h2{
  text-transform: uppercase;
  font-size: 36px;
  color: #fff;
}

.flex-caption h2 a:link, .flex-caption h2 a:visited{
  color: #fff;
}

.flex-caption p{
  font-size: 16px;
}

a.frmore{
  background: rgba(255,255,255,0.2);
  display: block;
  text-transform: uppercase;
  color: #fff;
  width: 150px;
  border: 1px solid #fff;
  padding: 5px 0px;
  margin: 10px auto;
  font-weight: bold;
  color: #fff!important;
}

/*#preface-area {
  background: none repeat scroll 0 0 #ED564B;
  border-bottom: 5px solid #F96B61;
  border-top: 5px solid #F96B61;
  padding: 40px 0 20px;
}*/
/*
#preface-area {
    background: none repeat scroll 0 0 #76B2D6;
    border-bottom: 5px solid rgb(69, 132, 163);
    border-top: 5px solid #4584A3;
    padding: 40px 0 20px;
}*/

#preface-area {
    background: none repeat scroll 0 0 rgb(118, 176, 213);
    padding: 40px 0 20px;
    margin-top: -30px;
}

.preface-block{
  color: #fff;
  text-align: center;
}


.preface-block .block > h2{
  font-size: 24px;
  font-weight: bold;
}

#header-block, #footer-block {
  padding: 20px 0 0;
}


#bottom {
    padding: 2px 0px 2px 0px;
    background: #3b3b3b;
    border-top: 1px solid #ccc;
}
 
.footer-block{
  color: #aaa;
}

.footer-block .block > h2{
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px 0px;
  color:#fff;
  text-transform: uppercase;
}

/* Footer */

.site-footer{
  padding: 10px 0px;
  background:#292929;
  font-size: 12px;
}

.fcred{
  padding: 10px 0px;
  color: #bbb;
}

.fcred a:link, .fcred a:visited{
  color:#fff;
}

/* =Content
----------------------------------------------- */

.node h2.title a, h1.page-title {
  color: #000000;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px;
}

#content .node-teaser {
  padding-bottom:30px;
  border-bottom:1px solid #DDDDDD;
  margin-bottom: 15px;
}

.node-teaser img {
  border: 1px solid #CCCCCC;
  padding: 6px;
  height: auto;
  max-width: 97.4%;
  margin: 0.5em 1em 0.5em 0;
  float: left;
}
.page-node #content-wrap img {
  border: 1px solid #CCCCCC;
  padding: 6px;
  height: auto;
  max-width: 97.4%;
  margin: 0.5em 1em 0.5em 0;
}

.region-content-top {
  margin-bottom: 20px;
}

#sidebar .block {
  margin-bottom: 30px;
}

#sidebar .block > h2 {
  font-size: 20px;
  color:#000;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.preface-block .block, .footer-block .block, .region-footer .block, .region-header .block, .region-content-top .block {
  margin-bottom: 30px;
}


/* -------------- Form Elements  ------------- */

fieldset { background: #ffffff; border: 1px solid #cccccc; margin-top: 10px; margin-bottom: 32px;
padding: 0 0 10px; position: relative; top: 12px; /* Offsets the negative margin of legends */
-khtml-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.fieldset-wrapper { margin-top: 25px; }

.node-form .vertical-tabs .fieldset-wrapper { margin-top: 0; }

.filter-wrapper { top: 0; padding: 1em 0 0.2em;
-khtml-border-radius-topright: 0; -khtml-border-radius-topleft: 0; -moz-border-radius-topright: 0; -moz-border-radius-topleft: 0;
-webkit-border-top-left-radius: 0; -webkit-border-top-right-radius: 0; border-top-left-radius: 0; border-top-right-radius: 0; }

.filter-help a { font-size: 0.857em; padding: 2px 20px 0; }

.filter-wrapper .form-item label { margin-right: 10px; }

.filter-wrapper .form-item { padding: 0 0 0.5em 0.5em; }

.filter-guidelines { padding: 0 1.5em 0 0.5em; }

fieldset.collapsed { background: transparent; -khtml-border-radius: 0; -moz-border-radius: 0;  -webkit-border-radius: 0; border-radius: 0; }

fieldset legend { background: #dbdbdb; border: 1px solid #ccc; border-bottom: none; display: block; height: 2em;
left: -1px; line-height: 2; padding: 0; position: absolute; text-indent: 10px; text-shadow: 0 1px 0 #fff; top: -12px; width: 100%;
-khtml-border-radius-topleft: 4px; -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; 
-khtml-border-radius-topright: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; }

fieldset.collapsed legend { -khtml-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

fieldset .fieldset-wrapper { padding: 0 10px; }

fieldset .fieldset-description { margin-top: 5px; margin-bottom: 1em; line-height: 1.4; font-style: italic; }

input { margin: 2px 0; padding: 4px; }

input, textarea {  font-size: 0.929em; }

textarea { line-height: 1.5; }

textarea.form-textarea, select.form-select { padding: 4px; }

input.form-text, textarea.form-textarea, select.form-select { border: 1px solid #ccc; }

.password-suggestions ul li { margin-left: 1.2em; }

.form-item { margin-bottom: 1em; margin-top: 2px; }

.form-item label { font-size: 0.929em; }

.form-type-radio label, .form-type-checkbox label { margin-left: 4px; }

.form-type-radio .description, .form-type-checkbox .description { margin-left: 2px; }

.form-actions { padding-top: 10px; }

/* Contact Form */

.contact-form #edit-name { width: 100%;
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
-khtml-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.contact-form #edit-mail { width: 100%;
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
-khtml-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.contact-form #edit-subject { width: 100%;
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
-khtml-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.contact-form #edit-message { width: 100%;
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
-khtml-border-top-left-radius: 4px; -khtml-border-top-right-radius: 4px; -moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px; -webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px;
border-top-left-radius: 4px; border-top-right-radius: 4px; }

.contact-form .resizable-textarea .grippie {  width: 100%;
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
-khtml-border-bottom-left-radius: 4px; -khtml-border-bottom-right-radius: 4px; -moz-border-radius-bottomleft: 4px;
-moz-border-radius-bottomright: 4px; -webkit-border-bottom-left-radius: 4px; -webkit-border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; }

/* Comment form */

.comment-form label { float: left; font-size: 0.929em; }

.comment-form input, .comment-form .form-select { margin: 0; 
-khtml-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.comment-form .form-type-textarea label { float: none; }

.comment-form .form-item,
.comment-form .form-radios,
.comment-form .form-type-checkbox,
.comment-form .form-select { margin-bottom: 10px; overflow: hidden; }

.comment-form .form-type-checkbox,
.comment-form .form-radios { margin-left: 120px; }

.comment-form .form-type-checkbox label,
.comment-form .form-radios label { float: none; margin-top: 0; }

.comment-form input.form-file { width: auto; }

.comment-form .form-text { display: block; margin: 0; width: 100%;
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.comment-form .form-item .description { font-size: 0.786em; line-height: 1.2; margin-left: 120px; }

#content h2.comment-form { margin-bottom: 0.5em; }

.comment-form .form-textarea { -khtml-border-radius-topleft: 4px; -khtml-border-radius-topright: 4px;
-moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px;
-webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px;
border-top-left-radius: 4px; border-top-right-radius: 4px; }

.comment-form fieldset.filter-wrapper .fieldset-wrapper,
.comment-form .text-format-wrapper .form-item { margin-top: 0; margin-bottom: 0; }

.filter-wrapper label { width: auto; float: none; }

.filter-wrapper .form-select { min-width: 120px; }

.comment-form fieldset.filter-wrapper .tips { font-size: 0.786em; }

#comment-body-add-more-wrapper .form-type-textarea label { margin-bottom: 0.4em; }

#edit-actions input { margin-right: 0.6em; }

/* Other Overrides */

div.password-suggestions { border: 0; }

.ui-widget-overlay { background: #222222; opacity: 0.7; }

div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane { padding: 1em; }

#forum .name { font-size: 1.083em; }

#forum .description { font-size: 1em; }

/* Form Buttons */

button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
/* IE10 */ 
background-image: -ms-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
/* Opera */ 
background-image: -o-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #E3E3E3));
/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
/* Proposed W3C Markup */ 
background-image: linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
/* IE6-9 */ 
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E3E3E3');

border: 1px solid #dbdbdb;
-moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px;
-moz-box-shadow: inset 0 1px 0 0 white; -webkit-box-shadow: inset 0 1px 0 0 white; -o-box-shadow: inset 0 1px 0 0 white; box-shadow: inset 0 1px 0 0 white;
color: #333333; text-shadow: 0 1px 0 white; position: relative; font-weight:bold; padding: 4px .8em 5px .8em; font-size: 13px; }

button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
/* IE10 */ 
background-image: -ms-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
/* Opera */ 
background-image: -o-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #DBDBDB), color-stop(1, #F2F2F2));
/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
/* Proposed W3C Markup */ 
background-image: linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
/* IE6-9 */ 
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#DBDBDB', endColorstr='#F2F2F2');

-moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px;
-moz-box-shadow: inset 0 1px 0 0 white;
-webkit-box-shadow: inset 0 1px 0 0 white;
-o-box-shadow: inset 0 1px 0 0 white;
box-shadow: inset 0 1px 0 0 white;
cursor: pointer; }

button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width { 
width: 100%; padding-left: 0 !important; padding-right: 0 !important; text-align: center; }


#block-search-form { padding-bottom: 7px; }

#block-search-form .content { margin-top: 0; }

#search-form .form-item-keys label { display: block; }


ol.search-results { padding-left: 0; }

.search-results li { border-bottom: 1px solid #d3d7d9; padding-bottom: 0.4285em; margin-bottom: 0.5em; }

.search-results li:last-child { border-bottom: none; padding-bottom: none; margin-bottom: 1em; }

.search-results .search-snippet-info { padding-left: 0; }


.meta {
  margin: 5px 0 10px 0;
}

.meta a {
  color: #999;
}

.meta a:hover {
  color: #000;
}

.meta li {
  display: inline;
  margin-right: 5px;
  margin-right: 10px;
}

.meta strong{
  font-weight: 600;
  color: #111;
}

.meta li:last-child {
  margin-right: 0;
  padding-right: 0;
  background: none;
}

.links li a {
  background-color: #E7E5E3;
  color: #100100;
  padding: 4px 5px;
  border-radius: 4px;
  text-shadow: 1px 1px #fff;
  font-weight: normal;
}

.links li a:hover {
  background-color: #D7D5D3;
  color: #100101;
}


/*-------------------------------------------*
/* Fix CKEditor style
/*-------------------------------------------*/
#content table.cke_editor {
  background: transparent;
  border: 0;
}
#content table.cke_editor td {
  background: transparent;
  padding: 0;
  border: 0;
}

/*-------------------------------------------*
/* Poll, Buttons, Form
/*-------------------------------------------*/
.poll .vote-form .choices .title {
  font-size: 14px;
  font-weight: normal;
  line-height: 2;
}

.poll .vote-form .choices {
  margin: 0;
}

.form-item label {
  font-size: 13px;
  font-weight: bold;
}

/*-------------------------------------------*
/* Menus and item lists 
/*-------------------------------------------*/
.item-list ul {
  margin: 0;
  padding: 0 0 0 1.5385em;
}

.item-list ul li {
  margin: 0;
  padding: 0;
}

ul.menu li {
  margin: 0;
  padding: 0;
}

ul.inline {
  clear: both;
}

ul.inline li {
  margin: 0;
  padding: 0;
}

/*-------------------------------------------*
/* Admin Tabs
/*-------------------------------------------*/
.tabs-wrapper {
  border-bottom: 1px solid #b7b7b7;
  margin: 0 0 5px 0;
}

ul.primary {
  border: none;
  margin: 0;
  padding: 0;
}

ul.primary li a {
  background: none;
  border: none;
  display: block;
  float: left;
  line-height: 1.5385em;
  margin: 0;
  padding: 0 1em;
  border-radius: 4px 4px 0 0;
  margin-right: 5px;
}

ul.primary li a:hover, ul.primary li a.active {
  background: #666;
  border: none;
  color: #fff;
}

ul.primary li a:hover {
  background: #888;
  text-decoration: none;
}

ul.secondary {
  background: #666;
  border-bottom: none;
  clear: both;
  margin: 0;
  padding: 0;
}

ul.secondary li {
  border-right: none;
}

ul.secondary li a, ul.secondary li a:link {
  border: none;
  color: #ccc;
  display: block;
  float: left;
  line-height: 1.5385em;
  padding: 0 1em;
}

ul.secondary li a:hover, ul.secondary li a.active {
  background: #888;
  color: #fff;
  text-decoration: none;
}

ul.secondary a.active {
  border-bottom: none;
}

ul.inline, ul.links.inline {
  margin-left: 0;
}

/*-------------------------------------------*
/* Tabs and Tags
/*-------------------------------------------*/
.field-name-field-tags {
  margin: 0 0 10px 0;
}

.field-name-field-tags a{
  background: #ed564b;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 2px;
  color: #fff;
  padding: 2px 6px;
}

.field-name-field-tags a:hover{
  background: #111;
  color: #fff;
}

.field-name-field-tags div {
  display: inline;
}


/*-------------------------------------------*
/* Profile
/*-------------------------------------------*/
.profile {
  margin: 1.5385em 0;
}

.profile dd {
  margin-bottom: 1.5385em;
}

.profile h3 {
  border: none;
}

.profile dt {
  margin-bottom: 0;
}

.password-parent {
  width: 36em;
}

/* Comments */

.comment h2.title { margin-bottom: 1em; }

.comment div.user-picture img { margin-left: 0; }

.comment { margin-bottom: 20px; display: table; vertical-align: top; }

.comment .attribution { display: table-cell; padding: 0 35px 0 0; vertical-align: top; overflow: hidden; }

.comment .attribution img { margin: 0; border: 1px solid #d3d7d9; }

.comment .attribution .username { white-space: nowrap; }

.comment .comment-submitted p { margin: 4px 0; font-size: 1.071em; line-height: 1.2; }

.comment .comment-submitted .comment-time { font-size: 0.786em; }

.comment .comment-submitted .comment-permalink { font-size: 0.786em; text-transform: lowercase; }

.comment .content { font-size: 0.929em; line-height: 1.6; }

.comment .comment-arrow { background: url(images/comment-arrow.gif) no-repeat 0 center transparent;
border-left: 1px solid; border-right: 1px solid; height: 40px; margin-left: -36px; margin-top: 15px; position: absolute; width: 22px; }

.comment .comment-text { padding: 0 25px 10px 35px; display: table-cell; vertical-align: top; position: relative; width: 100%; border-left: 1px solid #d3d7d9; }

.comment .indented { margin-left: 40px; }

.comment-unpublished { margin-right: 5px; padding: 5px 2px 5px 5px; }

.comment .comment-text .comment-arrow { border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; }


/*-------------------------------------------*
/* Forum
/*-------------------------------------------*/
.field-name-taxonomy-forums div {
  display: inline;
  margin-top: 4px;
}

.field-name-taxonomy-forums .field-items {
}

#forum .title {
  font-size: 16px;
}

#forum .submitted {
  font-size: 12px;
  font-family: Lucida Grande, Verdana, Arial, sans-serif;
  background: transparent;
  padding: 0;
}

#forum .container {
  background: #a1a1a1;
  color: #fff;
}

#forum .container a {
  color: #000;
  font-weight: bold;
}

#forum div.indent {
  margin-left: 2px;
}

.forum-starter-picture {
  float: left;
  padding: 4px;
  border: 1px solid #d9d9d9;
  margin: 5px 7px 5px 0;
}

#forum th {
  background: #434343;
  text-shadow: none;
  color: #fff;
}

#forum th a {
  color: #fff;
}

#forum td.forum .icon, #forum .icon div {
  background: url(images/no-new-posts.png) no-repeat;
  width: 35px;
  height: 35px;
}

#forum .name a{ 
  font-size: 16px;


}

div#block-block-8 {
        width: 48%;
        float: left;
        clear: both;
        margin-left: 20px;
    } 

.view.view-noticias.view-id-noticias.view-display-id-block_1 .views-row {
    background-color: whitesmoke;
    margin-bottom: 12px;
    min-height: 200px;
    padding: 20px 20px 0 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 47%;
    float: left;
    margin-left: 15px;
}    

/*input#edit-search-block-form--2 {
    width: 75%;
    text-align: -webkit-right;
}*/

input#edit-search-block-form--2 {
    width: 57%;
    height: 55px;
    font-size: x-large;
    color: #3E6B88;
    background: rgba(241,245,247,0.2);
    border: 1px solid rgba(62, 107, 136, 0.44);
}

form#webform-client-form-6 {
    background-color: rgba(204, 204, 204, 0.26);
    padding: 50px;
}

div#block-block-9 {
    width: 48%;
    float: right;
    padding-top: 70px;
}

.flex-active-slide .field-content {
    font-size: 30px;
    height: 269px;
    text-align: -webkit-center;
    color: #4584A3;
    text-shadow: 2px 2px #fff;
  }

  header#masthead {
    background-color: #fff;
    box-shadow: 1px 0 5px;
    position: fixed;
    width: 100%;
    z-index: 998;
    height: 169px;
}

div#block-search-form {
    text-align: -webkit-center;
}

#block-search-form .form-submit {
    background: url("http://sapeca-larsson.ima.sp.gov.br/sites/sapeca-larsson.ima.sp.gov.br/files/Slide_Show/botao-buscar.png");
    cursor: pointer;
    text-indent: -9999px;
    background-size: cover;
    width: 76px;
    height: 55px;
    padding: 21px;
    margin-left: -3px;
    border-radius: 0px;
    border: none;
    box-shadow: none;
}

.view.view-publicacoes.view-id-publicacoes.view-display-id-page_1 .view-content .views-row {
    background-color: whitesmoke;
    margin-bottom: 12px;
    min-height: 280px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 47%;
    float: left;
    margin-right: 15px;
}

.view.view-noticias.view-id-noticias.view-display-id-page .views-row {
    background-color: whitesmoke;
    margin-bottom: 12px;
    min-height: 290px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 47%;
    float: left;
    margin-right: 15px;
}

.region.region-sidebar-first #block-search-form input#edit-search-block-form--2 {
    margin-top: 20px;
    width: 75%;
}


@media screen and (min-width:769px) and (max-width:1199px) {

    div#block-search-form {
          margin-top: 0px;
          float: right;
          margin-right: 33px;
        }


    div#block-block-8 {
        width: 48%;
        float: left;
        clear: both;
        margin-left: 20px;
    }  

    .view.view-noticias.view-id-noticias.view-display-id-block_1 .views-row {
        background-color: whitesmoke;
        margin-bottom: 12px;
        min-height: 200px;
        padding: 20px 20px 0 20px;
        border: 1px solid #ccc;
        border-radius: 6px;
        width: 47%;
        float: left;
        margin-left: 15px;
    }

    input#edit-search-block-form--2 {
        width: 75%;
        text-align: -webkit-right;
    }

    form#webform-client-form-6 {
      background-color: rgba(204, 204, 204, 0.26);
      padding: 50px;
    }

    .view.view-publicacoes.view-id-publicacoes.view-display-id-page_1 .view-content .views-row {
      background-color: whitesmoke;
      margin-bottom: 12px;
      min-height: 280px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 6px;
      width: 90%;
      float: left;
      margin-right: 15px;
    }

    .view.view-noticias.view-id-noticias.view-display-id-page .views-row {
      background-color: whitesmoke;
      margin-bottom: 12px;
      min-height: 290px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 6px;
      width: 90%;
      float: left;
      margin-right: 15px;
    }

}


@media screen and (max-width: 768px) {
  html{
    font-size: 60%;
  }

  h1#site-title{
    text-align: center;
  }

  #site-logo {
    padding-top: 0;
  }
  
  select.mnav{
    /*width: 100%;*/
    /*margin-bottom: 20px;*/
  }

  #main-menu{
    display:none;
  }
    
  .flex-caption{
    display: none;
  }

  #flexslider-1, #flexslider-1 * img {
    width: 100%;
    height: auto;
    /*display: none;*/
  }

  #slide-block .row {
      margin-right: 0;
      margin-left: -8px;
  }

  div#block-search-form {
    margin-top: 0px;
    float: right;
    margin-right: 33px;
    width: 90%;
  }

  div#block-block-10 {
    display: none;
  }

  div#block-block-8 {
    width: 80%;
  }

  div#block-block-9 {
    width: 80%;
    margin-left: 20px;
    float: left;
  }

  input#edit-search-block-form--2 {
    width: 65%;
    text-align: -webkit-right;
  }

  .flex-active-slide .views-field.views-field-body {
    text-align: -webkit-center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: -170px;
    font-size: 0.6em;
  }

  .view.view-noticias.view-id-noticias.view-display-id-block_1 .views-row{
    width: 90%;
  }

  form#webform-client-form-6 {
    background-color: rgba(204, 204, 204, 0.26);
    padding: 10px;
  }

  .flex-active-slide .field-content {
    font-size: 15px;
    height: 230px;
    text-align: -webkit-center;
    color: #4584A3;
    text-shadow: 2px 2px #fff;
  }

  header#masthead {
    height: 130px;
  }

  #primary, #sidebar{
      padding-top: 145px;
      padding-bottom: 20px;
  }

  .view.view-publicacoes.view-id-publicacoes.view-display-id-page_1 .view-content .views-row {
      background-color: whitesmoke;
      margin-bottom: 12px;
      min-height: 280px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 6px;
      width: 90%;
      float: left;
      margin-right: 15px;
  }

  .view.view-noticias.view-id-noticias.view-display-id-page .views-row {
    background-color: whitesmoke;
    margin-bottom: 12px;
    min-height: 290px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 90%;
    float: left;
    margin-right: 15px;
  }

}




/*Inicio do desenvolvimento do site 15-03-2016 */


#flexslider-1, #flexslider-1 * img {
    height: auto;
    width: 100%;
}

  #slide-block .row {
      margin-right: 0;
      margin-left: -8px;
  }



.flex-active-slide .views-field.views-field-body {
    text-align: -webkit-center;
    margin-left: 15%;
    margin-right: 15%;
}

.flex-control-nav {
   display: none;
}


.form-item.webform-component.webform-component-textfield.webform-component--nome label {
    float: left;
    width: 100%;
    padding-top: 30px;
}


.form-item.webform-component.webform-component-email.webform-component--e-mail.webform-container-inline label {
    float: left;
    width: 100%;
}

.form-item.webform-component.webform-component-textfield.webform-component--data-nascimento.webform-container-inline label {
    float: left;
    width: 100%;
}

.form-item.webform-component.webform-component-textfield.webform-component--estado-civil.webform-container-inline label {
    width: 100%;
    float: left;
}

.form-item.webform-component.webform-component-number.webform-component--numero-de-moradores.webform-container-inline label {
    float: left;
    width: 100%;
}

.form-item.webform-component.webform-component-number.webform-component--numero-de-filhos label {
    float: left;
    width: 100%;
}

.form-item.webform-component.webform-component-textfield.webform-component--endereco.webform-container-inline label {
    float: left;
    width: 100%;
}

.form-item.webform-component.webform-component-textfield.webform-component--bairro.webform-container-inline label {
    float: left;
    width: 100%;
}

.form-item.webform-component.webform-component-textfield.webform-component--cidade.webform-container-inline label {
    float: left;
    width: 100%;
}

.form-item.webform-component.webform-component-number.webform-component--cep label {
    float: left;
    width: 100%;
}

.form-item.webform-component.webform-component-number.webform-component--celular label {
    float: left;
    width: 100%;
}

.form-item.webform-component.webform-component-number.webform-component--telefone.webform-container-inline label {
    float: left;
    width: 100%;
}


.form-item.webform-component.webform-component-textfield.webform-component--assunto.webform-container-inline label {
    float: left;
    width: 100%;
}

.form-item.webform-component.webform-component-email.webform-component--e-mail label {
    float: left;
    width: 100%;
}

.form-item.webform-component.webform-component-number.webform-component--telefone label {
    float: left;
    width: 100%;
}

.form-item.webform-component.webform-component-textfield.webform-component--assunto label {
    float: left;
    width: 100%;
}

div#block-block-1 a {
    color: aliceblue;
}


.view.view-noticias.view-id-noticias.view-display-id-page .views-row .views-field-title {
    font-size: initial;
    line-height: 28px;
    padding-bottom: 15px;
}

.view.view-noticias.view-id-noticias.view-display-id-page .views-row .views-field-view-node a {
    float: right;
}

.view.view-depoimentos.view-id-depoimentos.view-display-id-page img {
    width: 50%;
    float: left;
    padding: 10px;
}

div#block-system-powered-by {
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: center;
    margin-bottom: 0px;
}

div#block-block-2 h2 {
    line-height: 25px;
    padding-bottom: 40px;
    padding-top: 20px;
}

div#block-block-1 h2 {
    line-height: 25px;
    padding-bottom: 40px;
    padding-top: 20px;
}



div#footer-block {
    padding: 20px 0px 40px 0px;
    background: rgba(67, 130, 161, 0.67);
}

.front #main-content {
    padding-top: 0px;
    background-color: #3E6B88;
}

div#block-views-noticias-block-1 h2 {
    color: aliceblue;
    /*text-align: -webkit-center;
    text-align: -moz-center;
    text-align: center;*/
    padding-bottom: 10px;
    margin-left: 2%
;T}

.view.view-noticias.view-id-noticias.view-display-id-block_1 .views-row .views-field-view-node a {
    float: right;
    color: white;
}

.view.view-noticias.view-id-noticias.view-display-id-block_1 .view-footer a {
    color: #EBEEF1;
    float: right;
    margin-right: 4%;
    width: 140px;
}

#slide-block div .col-sm-12{
 padding: 0 !important;
}

div#footer-block {
    padding: 50px 0px 40px 0px;
    background: rgb(116, 178, 215);
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: center;
    font-size: medium;
    color: rgba(0, 0, 0, 0.81);
}

div#footer-block a {
    color: azure;
}

.front div#block-block-5 {
    padding-top: 70px;
}


div#block-block-8 h2 {
    color: aliceblue;
    padding-bottom: 30px;
}

.admin-menu header#masthead {
    z-index: 3;
}


div#slide-block {
    padding-top: 118px;
    background-color: #76B0D5;
}

.view.view-noticias.view-id-noticias.view-display-id-block_1 .btn-danger {
    color: #F5F2F2;
    background-color: #d9534f;
    border-color: #d9534f;
    float: right;
    margin-top: 20px;
}



/*div#block-search-form .container-inline {*/
    /* width: 375px; */
    /*margin-left: 18%;*/
/*}*/

span.field-content.btn.btn-primary {
    color: #0C0B0B;
    background-color: steelblue;
    float: right;
}

.view.view-noticias.view-id-noticias.view-display-id-page .views-row .views-field-view-node a {
    float: right;
    color: white;
}

.view.view-publicacoes.view-id-publicacoes.view-display-id-page_1 .view-content .views-row .btn a {
    color: white;
}



.view.view-publicacoes.view-id-publicacoes.view-display-id-page_1 .views-exposed-form .description {
    display: none;
}

.view.view-publicacoes.view-id-publicacoes.view-display-id-page_1 .views-exposed-form select.form-select {
    width: 200px;
}

.view.view-publicacoes.view-id-publicacoes.view-display-id-page_1 .view-content .views-row .field-content{
  margin-bottom: 20px;
}

div#logo {
    /*width: 40%;*/
}

.col-sm-6.mainmenu {
    /*width: 60%;*/
    width: 76%;
}

div#block-block-10 {
    float: right;
    margin-top: -178px;
}

#main-menu li {
    margin-right: 28px;
}



/*.front div#block-search-form {
    width: 100%;
    margin-top: 0px;
    text-align: -webkit-center;
}*/



#go-top{
position:fixed;
bottom:10px;
right:10px;
cursor:pointer;
display:none;
padding:20px 10px;
}


.front div#main-content #primary #block-views-noticias-block-1 {
    margin-top: -165px;
}





